@import 'utils/variables.scss';

.root {

  .header {

    &>h1 {
      text-align: center;
      font-size: calc($fs_large + 2vmin);
      padding: 1em 0;
    }

    &>p {
      text-indent: 0.5em;
      padding: 0.5em 0;
    }
  }

  .images {
    display: flex;
    flex-wrap: wrap;

    .image {
      flex: 100%;
      max-width: 100%;
      padding: 1em;

      &>img {
        width: 100%;
        height: 100%;
        vertical-align: middle;
        box-shadow: 0px 2px 10px 0px #000;
        transition: all .3s ease;

        &:hover {
          transform: scale(1.025);
        }
      }
    }

    @media screen and (min-width: 600px) {
      .image {
        flex: 50%;
        max-width: 50%;
      }
    }

    @media screen and (min-width: 768px) {
      .image {
        flex: 33.3%;
        max-width: 33.3%;
      }
    }

    @media screen and (min-width: 1025px) {
      .image {
        flex: 25%;
        max-width: 25%;
      }
    }
  }
}